PORT=3000
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_SERVICE_ACCOUNT_KEY_PATH=./serviceAccountKey.json
CLIENT_ORIGINS=https://chat-room.goldentulipbelitung.com
APP_BASE_PATH=/client
CLIENT_DIR=../client
